* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --purple-50--: hsl(260, 100%, 95%);
  --purple-300--: hsl(264, 82%, 80%);
  --purple-500--: hsl(263, 55%, 52%);

  --white--: hsl(0, 0%, 100%);
  --grey-100--: hsl(214, 17%, 92%);
  --grey-200--: hsl(0, 0%, 81%);
  --grey-400--: hsl(224, 10%, 45%);
  --grey-500--: hsl(217, 19%, 35%);
  --dark-blue--: hsl(219, 29%, 14%);
  --black--: hsl(0, 0%, 7%);

  /* font-size */
  --fs-300--: 0.875rem; /* 14px */
  --fs-400--: 1rem; /* 16px */
  --fs-500--: 1.125rem; /* 18px */
  --fs-600--: 1.25rem; /* 20px */
  --fs-700--: clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem);
  --fs-800--: 2rem; /* 32px */

  /* border-radius */
  --br-100--: 10px;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  padding: 2rem;
  background-color: var(--grey-100--);
}

.testimonial-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 300px));
  gap: 2rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 2.2rem;
  border-radius: var(--br-100--);
  box-shadow: 40px 60px 20px rgba(72, 85, 106, 0.15);
}

.testimonial-summary {
  font-size: var(--fs-700--);
  font-weight: 600;
}

.image-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

blockquote {
  font-size: 0.94rem;
  line-height: 1.5;
}

.grid-item-1 {
  position: relative;
  grid-column: 1/3;
  background-color: var(--purple-500--);
}

.grid-item-1 > svg {
  position: absolute;
  top: 2rem;
  right: 6rem;
  z-index: 1;
}

.grid-item-1 .image-container,
.grid-item-5 .image-container {
  border: 3px solid var(--purple-300--);
}

.name {
  font-size: 0.94rem;
  font-weight: 500;
}

.grid-item-1 .profile .profile-info {
  color: var(--purple-50--);
}

.grid-item-1 > blockquote {
  color: var(--purple-50--);
}

.grid-item-1 > p {
  z-index: 2;
  color: var(--white--);
}

.grid-item-2 {
  background-color: var(--grey-500--);
}

.grid-item-3 {
  grid-column: 4/5;
  grid-row: 1/3;
}

.grid-item-2 > p {
  color: var(--white--);
}

.grid-item-2 > blockquote {
  color: var(--grey-200--);
}

.grid-item-2 .profile .profile-info {
  color: var(--grey-100--);
}

.grid-item-3,
.grid-item-4 {
  background-color: var(--white--);
}

.grid-item-3 > blockquote,
.grid-item-4 > blockquote {
  color: var(--grey-400--);
}

.grid-item-3 > p,
.grid-item-4 > p {
  color: var(--grey-500--);
}

.grid-item-3 .profile .profile-info,
.grid-item-4 .profile .profile-info {
  color: var(--grey-500--);
}

.grid-item-5 {
  grid-column: 2/4;
  background-color: var(--dark-blue--);
}

.grid-item-5 > p {
  color: var(--grey-200--);
}

.grid-item-5 > blockquote {
  color: var(--grey-200--);
}

.grid-item-5 .profile .profile-info {
  color: var(--grey-200--);
}

.profile {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .grid-item-2 {
    grid-column: 3/5;
  }
  .grid-item-3 {
    grid-column: 1/5;
    grid-row: 4/5;
  }
  .grid-item-4 {
    grid-column: 1/3;
  }
  .grid-item-5 {
    grid-column: 3/5;
  }
  .grid-item-1 > svg {
    display: none;
  }
}

@media (max-width: 600px) {
  .testimonial-container {
    grid-template-columns: 1fr;
  }
  /* reset custom placements */
  .testimonial {
    grid-column: unset !important;
    grid-row: unset !important;
  }
  .grid-item-1 > svg {
    display: none;
  }
}
